<script>
    function mp3_embed() {
        var p = document.getElementsByTagName('p');
        for (var i = 0; i < p.length; i++) {
            if (p[i].innerHTML.indexOf('.mp3') !== -1) {
                var str = p[i].innerHTML.split('?');
                if (str.length == 1) str[1] = '';
                var str1 = str[1];
                str1 = str1.replace('&', '').replace('&', '');
                str1 = str1.replace('autoplay=1', '').replace('autoplay=0', '');
                str1 = str1.replace('loop=1', '').replace('loop=0', '');
                str1 = str1.replace('controls=0', '').replace('controls=1', '');

                if (str[0].lastIndexOf('.mp3', str[0].length - 4) === str[0].length - 4 && str1.length == 0) {
                    if (str[1].indexOf('autoplay=1') !== -1) var autoplay = 1; else var autoplay = 0;
                    if (str[1].indexOf('loop=1') !== -1) var loop = 1; else var loop = 0;
                    if (str[1].indexOf('controls=0') !== -1) var controls = 0; else var controls = 1;
                    var newInnerHTML = '<audio';
                    if (autoplay == 1) newInnerHTML += ' autoplay';
                    if (loop == 1) newInnerHTML += ' loop';
                    if (controls == 1) newInnerHTML += ' controls';
                    newInnerHTML += '><source src="' + str[0] + '" type="audio/mpeg">Your browser does not support the audio element.</audio>';
                    p[i].innerHTML = newInnerHTML;
                }
            }
        }
    }
    mp3_embed();
</script>